div {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #eeeeee;
}

.introduction {
    background-color: #548ca8;
}

.main-content {
    background-color: #3b0101;
}

.contact-us {
    background-color: #023625;
}

.highlight {
  background-color: yellow;
}

.flex-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-container div {
    background-color: peachpuff;
    border: 2px solid brown;
    height: 10px;
    width: 10px;
    font-size: 20pt;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.flex-container div:hover {
    background-color: #f0e68c;
    cursor: pointer;
}